/*body {
  font-family: Raleway;
}
hr {
  color: #eeeeee;
}
ul {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
li {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  display: inline;
}
a {
  text-decoration: none;
  letter-spacing: 3px;
  color:black;
  font-size: 22px;
}
#ux {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  letter-spacing: 10px;
}
#title {
  text-align: center;
padding-top: 40px;

}
#funzies {
    margin: -5%;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-weight: bold;
    list-style: none;
    margin-right: -2%;
  }
#funzies:hover {
    background-color: white;
}
img {
  width: 2.5%;
  height: 2.5%;
  margin-top: 0;
  padding-right: 4px;
}
#headingcontainer {
  display: block;
  width: 1024px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
#name {
  padding-left: 50px;
  padding-bottom: 70px;
  letter-spacing: 9px;
  font-size: 30px;
}
#email {
  font-size: 19px;
  line-height: 180%;
  letter-spacing: 2px;
  display: block;
  width: 1024px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-right: 30px;
  margin-bottom: 15%;
}
h5 {
  padding-left: 10px;
}
h6 {
  padding-left: 70px;
  margin-bottom: 0%;
}
p {
  padding-left: 70px;
  font-size: 11px;
  line-height: 140%;
}
#resume {
  margin-top: 9.5%;
  margin-bottom: 13%;
  margin-left: 5%;
}
#edu {
  margin-bottom: 1%;
}
old version */

body {
  font-family: Questrial;
}
.header {
	width: 1024px;
	margin: 10% auto auto;
}
.header #logo {
	padding-bottom: 70px;
	letter-spacing: 9px;
	font-size: 30px;
	text-align: center;
}
.header #nav {
	text-align: center;
	padding: 25px; /* This shorthand adds padding to the top, right, bottom, and left of the navigation. */
	border-top: 1px solid black; /* adds a border to the top of the nav */
	border-bottom: 1px solid black; /* adds a border to the bottom of the nav */
}
hr {
  padding-top: 10px;
  padding-bottom: 10px;
  color: transparent;;
}
ul {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
li {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  display: inline;
}
a {
  text-decoration: none;
  letter-spacing: 2px;
  color:black;
  font-size: 18px;
}
#ux {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  letter-spacing: 10px;
}
#title {
  text-align: center;
padding-top: 40px;

}
#funzies {
    margin: -5%;
    background-color: black;
    color: white;
    border-radius: 90px;
    text-align: center;
    padding-left: 20px;
    padding-top: 30px 40px 5px 20px;
    margin-right: -2%;

  }
#funzies:hover {
    background-color: white;
}
td:hover {
  color: white;
  border-color: white;
}
img {
  width: 2.5%;
  height: 2.5%;
  margin-top: 0;
  padding-right: 4px;
}
#headingcontainer {
  display: block;
  width: 1024px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
#name {
  padding-left: 50px;
  padding-bottom: 70px;
  letter-spacing: 9px;
  font-size: 30px;
}
#email {
  font-size: 19px;
  line-height: 180%;
  letter-spacing: 2px;
  display: block;
  width: 1024px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-right: 30px;
  margin-bottom: 15%;
}
h5 {
  padding-left: 10px;
}
h6 {
  padding-left: 70px;
  margin-bottom: 0%;
}
p {
  padding-left: 70px;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 1px;
}
#resume {
  margin-top: 7.5%;
  margin-bottom: 10%;
  margin-left: 5%;
}
#edu {
  margin-bottom: 1%;
}
